.btn {
    width: 241px;
    height: 60px;
    background-color: $main-color;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.07);
    transition: all 0.6s;
    text-align: center;
    &:hover {
        transform: scale(105%);
        box-shadow: 0px 4px 4px rgba($color: $main-color, $alpha: 0.5);
        background-color: $main-color;
    }


}

.btn.button_submit {
    position: absolute;
    right: 39px;
}