.form {
    width: 815px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: 47px 75px 60px;
    row-gap: 6px;
    column-gap: 4px;
    justify-content: space-between;
    &__modal {
        margin-top: 20px;
        width: 280px;
        display: grid;
        grid-template-columns: 280px;
        grid-template-rows: repeat(5, 60px);
        row-gap: 10px;
    }
    &__item {
        position: relative;
/*         &-name {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
        &-mail {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }
        &-tel {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
        } */
        .input {
            outline: 0;
            width: 100%;
            height: 100%;
            resize: none;
            padding: 0px 19px;
            background-color: #ffffff;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 45px;
            font-family: 'Roboto';
            font-size: 13px;
            line-height: 24px;
            font-weight: 300;
            color: #101010;
            &:focus {    
                transition: all 0.5s;
                box-shadow: 0 0 10px $main-color;
            }
        }
        .just-validate-error-label {
            position: absolute;
            font-size: 10px;
            top: -12px;
            left: 33px;
        }
    }
    &__textarea {
        grid-column: 1 / 4;
        .textarea {
            outline: 0;
            width: 100%;
            height: 100%;
            resize: none;
            padding: 10px 19px;
            background-color: #ffffff;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 10px;
            font-family: 'Roboto';
            font-size: 13px;
            font-weight: 300;
            color: #616467;
        }
    }
    &__textarea.none {
        display: none;
    }
    &__btn {
        grid-column: 2 / 3;
        display: block;
        margin: 0 auto;
        width: 180px;
        height: 65px;
        &-modal {
            grid-column: 1 / 2;
            grid-row: 5 / 6;
        }
    }
    &__policy {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        position: relative;
        margin-left: 30px;
        margin-top: 5px;
        &-modal {
            padding-top: 10px;
            grid-row: 4 / 5;
            grid-column: 1 / 2;
        }
        &-contacts {
            grid-column: 3 / 4;
            grid-row: 3 / 4;
            margin-left: 5px;
            margin-top: 20px;
        }
        &-input {
            display: none;
            &:checked {
                + {
                    .form__policy-label {
                        &:after {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
        .just-validate-error-label {
            position: absolute;
            font-size: 10px;
            top: -10px;
            left: 42px;
        }
        &-label {            
            font-size: 13px;
            line-height: 140%;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            &:before {
                content: "";
                align-self: flex-start;
                flex: 0 0 24px;
                height: 24px;
                border: 1px solid grey;
                border-radius: 4px;
                margin: 0 10px 0 0;
            }
            &:after {
                transition: all 0.6s;
                content: "";
                width: 20px;
                height: 20px;
                position: absolute;
                top: 2px;
                left: 2px;
                background-color: $main-color;
                border-radius: 4px;
                transform: scale(0);
            }

        }
    }
}
.just-validate-error-field {
    box-shadow: 0 0 15px red;
    + {
        .form__policy-label {
            &:before {
                box-shadow: 0 0 15px red;
            }
        }
    }
}