.overlay2 {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 99;
	background-color: rgba($color: #000000, $alpha: 0.56);
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 320px;
	min-height: 400px;
	background-color: #f2f2f2;
	padding: 40px 20px 20px 20px;
	&__close {
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 41px;
		line-height: 21px;
		color: $main-color;
		cursor: pointer;
		&:hover {
			transition: 0.2s all;
			font-size: 45px;
		}
	}
	&__subtitle {
		font-family: 'Roboto';
		font-size: 19px;
		line-height: 27px;
		font-weight: 300;
		color: #0d0d0d;
		text-align: center;
	}
	&__descr {
		font-family: 'Roboto';
		font-size: 14px;
		font-weight: 400;
		color: #0d0d0d;
		text-align: center;
	}
	&_mini {
		min-height: 140px;
	}
}

#consultation, #thanks {
	display: none;
}