.promo {
	margin-top: 10px;
    height: 700px;
	background: url(../../img/promo/promo_bg.png) center (center/cover) no-repeat;
	&__wrapper {
		padding-top: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__title {
		padding-top: 105px;
		font-size: 42px;
		line-height: 48px;
		font-weight: 900;
		color: #ffffff;
	}
	&__text {
		margin-top: 27px;
		font-size: 24px;
		line-height: 30px;
		font-weight: 400;
		color: #ffffff;
	}
	&__img {
		height: 569px;
	}
	&__btn {
		margin-top: 40px;
		margin-left: 10px;
	}
	button {
		outline: none;
	}

}

.slider-container {
	margin-top: 41px;
}

.swiper-slide.card {
	display: grid;
	grid-template-columns: 530px 420px;
	justify-content: space-between;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 68px;
}

.swiper-pagination-bullet {
	width: 11px;
	height: 11px;
	margin: 0 15px;
	border: 1px solid #ffffff;
	background-color: rgba($color: #000000, $alpha: 0.0);
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: #ffffff;;
}



//swiper buttons

.card {
	padding: 30px;
	min-height: 300px;
	color: #111;
	font-size: 16px;
}

.slider-container {
	max-width: 100%;
	padding: 0 15px;
	position: relative;
	margin: 0 auto;
}

.swiper-button-prev,
.swiper-button-next {
	background-color: rgba($color: #ffffff, $alpha: 0.0);
	width: 16px;
	height: 16px;
	border-radius: 100%;
	border: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	position: static;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	display: none;
}

.swiper-button-prev {
	background-image: url("../../icons/left.svg");
	&:hover {
		transition: all 0.5s;
		transform: scale(1.2);
	}
}

.swiper-button-next {
	background-image: url("../../icons/right.svg");
	margin-left: 100px;
	&:hover {
		transition: all 0.5s;
		transform: scale(1.2);
	}
}

.slider-buttons {
	display: flex;
	align-items: center;
}

.slider-bottom {
	position: absolute;
	bottom: 69px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	

}

.slider-buttons {
	display: flex;
	justify-content: center;
}




//menu

.nav__list {
	display: flex;
	align-items: center;
	margin: 0;
}

.nav__item:not(:first-child) {
	margin-left: 20px;
}

.nav__list--dropdown {
	display: none;
}

.nav__item {
	position: relative;
	padding: 15px 0;

	.nav__link {
		font-size: 13px;
		line-height: 26px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		&:hover {
			text-decoration: none;
			color: $main-color;
			transition: all 0.5s;
		}
	}
}

.nav__link--drop {
	&:after {
		content: "";
		width: 10px;
		height: 10px;
		background-image: url("../../icons/drop.svg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: inline-block;
		margin-left: 5px;
		transition: transform 0.3s;
	}
}

.nav__list--dropdown {
	position: absolute;
	background-color: rgba($color: #e7e3e3, $alpha: 0.8);
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
	padding: 20px;
	display: block;
	box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.2);
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;
	z-index: 50;
}

.dropdown-submenu {
	display: flex;
	align-items: initial;
}

.dropdown-submenu__item {
	flex-grow: 1;
	min-width: 270px;
	padding: 0 20px;
}

.dropdown-submenu__list {
	padding: 0;
}

.dropdown-submenu__item:not(:last-child) {
	border-right: 1px solid #bfbfbf;
}

.dropdown-submenu__item:first-child {
	padding-left: 0;
}

.dropdown-submenu__item:last-child {
	padding-right: 0;
}

.mobile-back {
	display: none;
}

.dropdown-list__item {
	margin-bottom: 10px;
}

.dropdown-submenu__list-item {
	margin-bottom: 10px;
}

@media (min-width: 769px) {
	.nav__link--drop:hover::after {
		transform: rotate(180deg);
		transition: all 0.3s;
	}

	.nav__item:hover .nav__list--dropdown {
		visibility: visible;
		opacity: 1;
		transition: all 0.3s;
	}
}

.burger {
	width: 40px;
	height: 20px;
	margin-right: 20px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	position: relative;
	display: none;
}

.burger::before,
.burger::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 2px;
	background-color: #000;
}

.burger::after {
	top: auto;
	bottom: 0;
}

.burger span {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: 2px;
	display: inline-block;
	background-color: #000;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.5);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
}

.lock {
	overflow: hidden;
}

@media (max-width: 768px) {
	.burger {
		display: block;
	}

	.mobile-back {
		display: block;
	}

	.nav {
		position: fixed;
		left: 0;
		top: 0;
		max-width: 400px;
		width: 80%;
		height: 100vh;
		z-index: 100;
		box-shadow: 5px 0 15px -5px rgba(0,0,0, 0.8);
		background-color: #fff;
		transform: translateX(-150vw);
		overflow-x: hidden;
		overflow-y: auto;
	}

	.nav__list {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		padding-top: 10%;
		position: relative;
	}

	.nav__item {
		margin-left: 0 !important;
		font-size: 20px;
		width: 100%;
		padding: 0;
		position: static;
		.nav__link {
			color: #000;
		}
	}

	.nav__link,
	.dropdown-submenu__list-item a,
	.dropdown-list__link {
		padding: 20px 30px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #bfbfbf;
		color: #000;
		font-size: 13px;
		line-height: 26px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.nav__link::after {
		transform: rotate(-90deg);
	}

	.nav__list--dropdown {
		position: absolute;
		top: 0;
		right: auto;
		left: 100%;
		box-shadow: none;
		width: 100%;
		display: none;
	}

	.dropdown-submenu__item {
		width: 100%;
		padding: 0;
		border: none !important;
	}

	.dropdown-submenu__title {
		padding: 0 30px;
	}

	.nav__list.transformation {
		transform: translateX(-100%);
		transition: all 0.3s;
	}

	.nav__list--dropdown.transformation {
		opacity: 1;
		visibility: visible;
		display: block;
		transform: none;
		background-color: #fff;
		transition: all 0.3s;
	}

	.nav.open {
		transform: translateX(0);
		transition: all 0.3s;
	}

	.overlay.open {
		opacity: 1;
		visibility: visible;
		transition: all 0.3s;
	}

	.mobile-back a {
		position: relative;
		border: none;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.mobile-back a::before {
		content: "";
		width: 10px;
		height: 10px;
		background-image: url("../../icons/drop.svg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: inline-block;
		margin-right: 10px;
		transform: rotate(90deg);
	}
}